<br>
<br>
<br>
<br>
<style>
  div{
    background-color: #FFF
  }
  
  </style>
<div class="row">
  <div class="col-sm-6 col-md-3 col-md-offset-3 col-sm-offset-3">
    <div id="success" class="alert alert-success" {{#if noMessage}} hidden {{/if}}>
    {{ successMsg }}
    </div>
  </div>
</div>
{{#each foods}}

  {{#each this}}
  <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img  class="img-responsive" src="{{this.imagePath}}" alt="..." >
      <div class="caption">
        <h3>{{this.title}}</h3>
        <p class="description">{{this.description}}</p>
        <div class="clearfix">
          <div class="price pull-left">
           &#8377 {{this.price}}
          </div>
          <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Order </a>
          </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
  
  {{/each}}
  
